h1, h2, h3, h4, h5 {
	text-align: center;
	font-weight:300;
}

h2.blue{
	color:#76C2E4;
	margin-top:4rem;
	margin-bottom:3rem;
}


button, .btn, a, a > *, .shop-item-body, span, .tag-tile, select{
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	}

a {
	text-decoration:none;
	color:#76C2E4;
}

.storage-green{color:#008000;}
.storage-red{color:red;}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html {
	color:#888;
	font-size:10px;
	}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color:#fafafa;
	font-family: PT Sans;
	font-size:1.6rem;
	}
footer,
header {
	background-color:white;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
}

label {
	display:block;
	margin-bottom:1rem;
}

.fa-rub{
	font-size:1.4rem;
}

.cart form > button,
div.submit > button,
textarea,
input,
select,
select:focus{
	border: .1rem solid #888;
	border-radius:.4rem;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	color: #888;
	width:100%;
	padding:1rem;
	font-size:2rem;
	white-space:nowrap;
}

button,
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button:active{
	background-image:none;
	background-color:white;
}

button[role=mobile-menu] {
	font-size:3rem;
	padding-right:2rem;
	border:none;
	background:none;
	color:#888;
	margin-left:2rem;
}

button[role=mobile-menu]:focus,
button[role=mobile-menu]:hover,
button[role=mobile-menu].active {
	color:#76C2E4;
}
main {
	flex: 1 0 auto;
	}

.container-flex{
	width:100%;
	display:block;
	margin:0 auto 0 auto;
}

.container-full{
	height:100%;
	padding-bottom:1rem;
}

.container-flex:first-child{
	padding-top:1rem;
}

nav.container-flex:first-child {padding:0;}

#nav-body{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
}


#global-menu > ul {
	list-style-type:none;
	overflow:hidden;
	display:flex;
	justify-content: space-around;
	padding-right:2rem;
	flex-direction:column;
	height:0;
	-moz-transition: height 0.3s ease-out 0s;
	-webkit-transition: height 0.3s ease-out 0s;
	-ms-transition: height 0.3s ease-out 0s;
	-o-transition: height 0.3s ease-out 0s;
	transition: height 0.3s ease-out 0s;
}

#global-menu > ul.active{
	height:40rem;
}

#global-menu > ul > li {
	text-align: right;
}


#global-menu{
	flex-grow:1;
	display:flex;
	flex-direction:column;
	align-items: flex-end;
}

#global-menu > ul > li > a {
	height:8rem;
	color: #888;
	font-size:1.8rem;
}

a span.animated{
    	display:inline-block;
    	height: 2rem;
    	overflow: hidden;
	}

a span.animated em{
    	display:block;
    	font-style: normal;
    	position: relative;
    	top:0rem;
	line-height:2rem;
    	transition: top 300ms ease 0s;
	}

a:hover span.animated em{
    	top:-2rem;
	color:#aaa;
	}

a.basket-button > span{
	height:3rem;
	}

a.basket-button:hover > span.animated em{
	top:-3rem;
	}

ul.top_menu li.active.basket-icon a span em,
span.animated em.hover{
    	color:#76c2e4 !important;
	}


#basket_icon{
	height:3rem;
	width:3rem;
	}

a.basket-button .b_icon{
	fill: #aaa;
	}

a.basket-button > span.badge{
	display:inline-block;
	position:relative;
	z-index:1000;
	width:3rem;
	height:3rem;
	background-color: #ccc;
	color:white;
	border-radius:50%;
	text-align:center;
	margin-left:-1.5rem;
	margin-top:-1.5rem;
	font-size:1.4rem;
	vertical-align:middle;
	line-height:3rem;
	font-weight:bold;
}
a.basket-button:hover > span.badge{background-color:#76c2e4;}

li.active a. span.animated em #basket_icon .b_icon,
span.animated em.hover #basket_icon .b_icon{
	fill: #76c3e4;
	}

a.btn-social-icon #basket_icon{
	margin-top:0.5rem;
	height:3.5rem;
	width:3.5rem;
	}

a.btn-social-icon #basket_icon .b_icon{
	fill:#888;
	}

a.btn-social-icon:hover #basket_icon .b_icon{
	fill:#fff;
	}

.logo {
	display:flex;
	justify-content:space-between;
	align-items:center;
	}

.logo > * {
	display:block;
}

.navbar-brand{flex-grow:1;}

#svg_logo {
	height:5rem;
	margin-top: -1.7rem;
	}

#svg_logo * {
	fill:#888887;
	}

.navbar {
	background-color:white;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	}

#nav-top{
	border-bottom:1px solid #888;
	display:none;
	}

#nav-top p{
	padding-bottom:1rem;
	margin:0;
	text-align:right;
	}

#nav-top a {
	margin-left:2rem;
	}

#nav-body{
	padding-top:1rem;
	padding-left:1rem;
	}

.btn {
	border: 1px solid #ccc;
	background-color: white;
	border-radius: .4rem;
	padding:1rem;
}

.btn-top-menu{
	padding:0.2rem 0.4rem;
	background-color:#76c3e4;
	}


.btn-nav-top{
	padding:0 1rem 0 1rem;;
	margin:0;
	height:2rem;
	line-height:1.5rem;
	}

.btn-default{
	color:#888;
	border-color:#888;
}

.btn-default:hover{
	background-color:#eee;
}

.spinner {
	margin: 10rem auto;
	width: 5rem;
	height: 4rem;
	text-align: center;
	font-size: 1rem;
	}

.spinner > div {
	background-color: #76c1e4;
	height: 100%;
	width: 0.6rem;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
	}

.spinner .rect2 {
  	-webkit-animation-delay: -1.1s;
  	animation-delay: -1.1s;
	}

.spinner .rect3 {
  	-webkit-animation-delay: -1.0s;
  	animation-delay: -1.0s;
	}

.spinner .rect4 {
  	-webkit-animation-delay: -0.9s;
  	animation-delay: -0.9s;
	}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
  	animation-delay: -0.8s;
	}

@-webkit-keyframes sk-stretchdelay {
  	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  	20% { -webkit-transform: scaleY(1.0) }
	}

@keyframes sk-stretchdelay {
  	0%, 40%, 100% { 
    		transform: scaleY(0.4);
    		-webkit-transform: scaleY(0.4);
  	}  20% { 
    		transform: scaleY(1.0);
    		-webkit-transform: scaleY(1.0);
  		}
	}
#shop-body,
.filters {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	}

#shop-header,
#shop-title,
.shop-promos{
	display:flex;
	flex-direction:column;
	overflow:hidden;
}

#shop-header,
#shop-title{
	margin-bottom:2rem;
}

#shop-title {
	padding:1rem;
}

#shop-title h1 {
	text-transform: uppercase;
}

#shop-title p {
	text-align:center;
}

#shop-title p > span {
	border-top: .1rem solid #888;
}

.shop-promos a {
	min-height:2rem;
}

#shop-header img,
.shop-promos img {
	display:block;
	width:100%;
}


.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	}

.panel{
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,.2);
}

.cart-item{
	box-shadow:none;
	border: 1px solid #ccc;
}

#shop-body{
	padding-bottom:0;
	}

.shop-product,
.filter-item{
	width:100%;
	margin-bottom:1rem;
	}

.filter-item select{
	cursor:pointer;
	}

.filter-item select:hover{
	background-color:#eee;
	}

.filter-item:last-child{
	margin:0;
	}




.shop-product{
	padding:1rem;
	min-height:10rem;
	border: 1px solid #ccc;
	border-radius: 0.4rem;
	margin-bottom:1rem;
	overflow:hidden;
	background-color:white;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
	}

.shop-product img{
	display:block;
	position:relative;
	width:80%;
	}

.shop-product h4 {
	font-size: 1.9rem;
}
.shop-product h5 {
	font-size:1.7rem;
}

.shop-product p {
	text-align:center;
}

.shop-product-actions{
	display:flex;
	position:relative;
	margin:1.5rem  auto 0 auto;
	width: fit-content;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: -o-fit-content;
	}

.shop-product-actions span,
.shop-product-actions button,
.shop-product-actions a {
	border:.1rem solid #ccc;
}


.shop-product-actions a,
.shop-product-actions span{
	padding:.9rem 1rem 1rem 1rem;
	}

.shop-product-actions span{
	border-radius: .4rem 0 0 .4rem;
}

.shop-product-actions a{
	border-radius: 0 .4rem .4rem 0;
	color:#888;
}

.shop-product-actions a:hover{
	color:white;
	background-color:#ccc;
}

.shop-product-actions button{
	padding:1rem;
	border-left:none;
	border-right:none;
	border-radius:0;
}

.cosmetolog {
	background-size:50%;
	background-repeat:no-repeat;
	background-position:left center;
}

.tabs-body h3,
.cart h2,
.cosmetolog > h2 {
	margin-bottom:2rem;
}

.cosmetolog form {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-bottom:1rem;
}

.cosmetolog form > div.label,
.cosmetolog form > div.field,
.cosmetolog form > p.sub-text,
.cosmetolog form > div.submit{
	width: 100%;
}

.subscribe form,
.cart form,
.cosmetolog form > div.field-choise{
	display:flex;
}

.subscribe form{
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-between;
}

.subscribe form > div{
	width:100%;
	margin-bottom:1rem;
}



.cosmetolog form > div.field-choise > span{
	padding:1.25rem;
	height:4.5rem;
	width:4.5rem;
	border:.1rem solid #888;
	border-radius: .4rem 0 0 .4rem;
}

.cosmetolog form > div.field-choise > input{
	border-radius: 0 .4rem .4rem 0;
	border-left:none;
}

.cosmetolog form > div.field-choise > input{
	border-radius: 0 .4rem .4rem 0;
	border-left:none;
}

.cosmetolog form > div.field-choise > input:disabled{
	background-color:#eee;
}

.cosmetolog form > div.field{
	margin-bottom:2rem;
}

.cosmetolog form > div.field > textarea{
	height: 10rem;
}

.cosmetolog form label{
	width: 20rem;
	padding:1rem;
	margin:0rem;
	color:#aaa;
}

.cosmetolog form input{
	height:4.5rem;
}

.cosmetolog form > div.submit > button{
}

.cosmetolog form span{
}

.cosmetolog form input[type=radio]{
	width: auto;
	height: auto;
}

#cart-actions,
.cart-item,
.cart-item-actions{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;	
}

.cart-item-actions{
	flex-direction:row;
	justify-content:space-around;
	width:100%;
}

.cart-item-img{
	width:50%;
	display:none;
}

.cart-item-description{
}

.cart-item-description *{
	margin-bottom:1rem;
}

.cart-item-description h3{
	text-align:left;
}

.cart-item-description p{
	display:none;
}

.cart form > input {
	flex-grow:1;
	border-radius: .4rem 0 0 .4rem;
	border-right: none;
}

.cart form > button {
	height:4.5rem;
	width:4.5rem;
	background-color:#008000;	
	color:white;
	border-color:#008000;
	border-radius: 0 .4rem .4rem 0;
}

#cart-summ, #cart-disc, #cart-total {
	display:flex;
	justify-content:space-between;
	width: 20rem;
	margin-left:auto;
	margin-bottom:1rem;
}

#cart-disc {
	margin-top:1rem;
}

#cart-actions{
	flex-direction:row;
	justify-content:space-between;
}

table {
	width:100%;
	border-spacing:0;
	:w
}
tr{
}
tr:nth-child(odd){
	background-color:#eee;
}

td{
	border:none;
	text-align:center;
	padding:1rem;
}
tr:nth-child(odd) td{
	border-top:.1rem solid #ccc;
	border-bottom:.1rem solid #ccc;
}

.red {
	color:red;
}

.checkout h2{
	margin:1rem auto 2rem auto;
	width: -moz-fit-content;
	width: -o-fit-content;
	width: -ms-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
    	color:#76c2e4;
	border-bottom:.1rem solid #888;
}

.checkout-body form{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.form-item{
	display:flex;
	flex-direction:column;
	width:100%;
	margin-bottom:2rem;
}

.form-item:last-child{
	margin-bottom:0;
}

.form-inline{ display:flex; align-items:center;}

.form-inline label{margin:0;}

.form-inline label .fa{font-size:2.5rem;}

.form-inline input[type=radio],
.form-inline input[type=checkbox]{
	width:2rem;
	margin-left:1rem;
	margin-right:1rem;
}

.form-inline input[type=radio]:checked + label,
.form-inline input[type=checkbox]:checked + label{
	color:#555;
}

.form-item > input{ width:100%;}

.tabs-header {
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}

.tabs-header a {
	color:#888;
	display:flex;
	flex-direction:column;
	align-items:center;
	border-bottom:.2rem solid white;
	padding:1rem;
	margin-bottom:1rem;
}

.tabs-header a.active{
	color:#76C2E4;
	border-color:#76C2E4;
}

.tabs-header a:hover {
	color:#76C2E4;
}

.tabs-header a .fa {
	font-size:2rem;
}

.tabs-body > div {
	margin:1rem auto 0 auto;
	display:none;
	padding:1rem;
}

.tabs-body > div.active {
	display:block;
}

.thanks{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	min-height:80vh;
}

.thanks > div {
	flex-grow:2;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.thanks > ul {
	display:flex;
	justify-content:space-between;
	list-style:none;
}

.banner{
	display:block;
	width:100%;
	height:35rem;
	background-repeat:no-repeat;
}

.banner-small{display:block}
.banner-big{display:none}

.slick-item-url h2,
.banner h2 {
	font-size:5rem;
	line-height:5rem;
}

.banner h2 {
	text-align:left;
	}

.slick-item-url p,
.banner p {
	font-size:3rem;
	}

.banner .btn {
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:1.5rem;
	line-height:1.2rem;
	padding:.5rem;
	width:20rem;
	color:#888;
	border-color:#888;
	background-color:rgba(255,255,255,.5);
}

.banner .btn:hover{
	background-color:#eee;
}

.banner .btn-white{
	border-color:white;
	color:white;
	background:none;
}

.banner .btn-white:hover{
	color:black;
	}

.banner-body{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%;
}

.banner-top {
	background-image:url("../img/email_header.jpg");
	background-size:cover;
	background-position: center;
	height:45rem;
}

.banner-top .banner-body{
	padding:2.5rem 1rem 2rem 5%;
	align-items:flex-start;
	justify-content:flex-end;
}

.banner-top p,
.banner-top h2{
	text-align:left;
}

.banner-top h2{
	font-size:2.5rem;
	line-height:2.5rem;
	margin-bottom:1rem;
	}

.banner-top p{
	font-size:1.5rem;
	}

.banner-top p.bordered{
	font-size:2rem;
	border-top:.1rem solid #888;
	border-bottom:.1rem solid #888;
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}


.banner-1 {
	background-image:url("../img/shop/b1.jpg");
	background-size:cover;
	background-position: center;
}

.banner-5 {
	background-image:url("../img/shop/b5.jpg");
	background-size:contain;
	background-position: left center;
}

.banner-3 {
	background-image:url("../img/shop/b3.jpg");
	background-size:contain;
	background-position: 90% center;
}

.banner-2 {
	background-image:url("../img/shop/b2.jpg");
	background-size:cover;
	background-position:top center;
}


.banner-4 {
	background-image:url("../img/shop/b4.jpg");
	background-size:contain;
	background-position: 80% center;
}

.banner-1 .banner-body,
.banner-2 .banner-body{
	padding:10% 1rem 5% 1rem;
	align-items:center;
}

.banner-1 .banner-body h2,
.banner-2 .banner-body h2{
	text-align:center;
}


.banner-5 .banner-body{
padding:7rem 1rem 4rem 50%;
}

.banner-3 .banner-body,
.banner-4 .banner-body{
	padding: 7rem 0 4rem 4.5rem;
}

.banner-top .banner-body,
.banner-3 .banner-body,
.banner-4 .banner-body{	
/*	background-color:rgba(255,255,255,.6);*/
}

.banner-small .banner{
	display:block;
	width:100%;
	background-size:contain;
	background-position: center center;
}

.banner-small .shop-promos{
	flex-direction:row;
	flex-wrap:wrap;
}

.banner-s {
	border:.1rem solid #eee;
}

.banner-s .banner-body{
	justify-content:center;
	align-items:center;
}
.banner-s .banner-body div *{
	text-align:center;
}

.banner-s  h2 {
	font-size:3rem;
	line-height:3rem;
	text-align:center;
}

.banner-s > p{
	margin-top:-20%;
}

.banner-s > p > a{
	display:block;
	margin:0 auto 0 auto;
}

.banner-1-s{
	background-image:url("../img/shop/b1_s.jpg");
	}
.banner-2-s{
	background-image:url("../img/shop/b2_s.jpg");
	}
.banner-3-s{
	background-image:url("../img/shop/b3_s.jpg");
	}
.banner-4-s{
	background-image:url("../img/shop/b4_s.jpg");
	}
.banner-5-s{
	background-image:url("../img/shop/b5_s.jpg");
	}

footer{white-space:nowrap; }

footer .copyright{text-align:center}

footer p {margin-bottom:1rem;}

footer ul{
	list-style:none;
	display:none;
}

footer ul li{
	font-size:.9em;
	margin-bottom:.4rem;
}

.footer-body {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.footer-item{
	width:45%;
	padding-left:1rem;
}

footer a{
	color:#888;
}

footer a:hover{
	color:#76C2E4;
}

.social {
	display:flex;
	flex-direction:column;
}

.social .links{
	width:12rem;
	display:flex;
	justify-content:space-around;
}

.social .links a{
	font-size: 2rem;
	width:4rem;
	height:4rem;
	text-align:center;
	padding:.6rem .5rem .5rem .5rem;
	margin-bottom:1rem;
}

.social .links a:hover{
	border-color:#76C2E4;
	background-color:white;
}

footer .social img{
	width:12rem;
}

.about-header{
	overflow:hidden;
}

.about-header img{
	width:100%;
	display:block;
}

.about ul{
	list-style:none;
}

.about ul li{
	margin-bottom:1rem;
}

.about ul li:last-child{
	margin-bottom:0;
}

.about h2{
	margin-top:4rem;
	margin-bottom:2rem;
	text-align:left;
}

.about-item{
	padding-bottom:4rem;
	border-bottom:.1rem solid #ccc;
}

.about-item:last-child{
	border:none;
}

.desktop{display:none;}

.slick-index{
}

.slick-item{
	min-height:45rem;
	background-size:cover;
	background-position:top center;
	background-repeat:no-repeat;
	overflow:hidden;
	border-radius:.4rem;
}

.slick-item-url{
	display:flex;
	width:100%;
	min-height:45rem;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
	color:#888;
	padding:1rem 1rem 10% 1rem;
}

.slick-item-url:hover{
	color:#76c2e4;
}

#instagram {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
}

.insta-item{
	width:100%;
	margin-bottom:1rem;
	display:none;
}

.insta-item:first-child{display:block;}

.instagram-media{
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,.2) !important;
}

.subscribe{
	height:40rem;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
	text-align:center;
	background-image:url("../img/shop/sale_s.jpg");
	background-size:contain;
	background-position:top center;
	background-repeat:no-repeat;
}

.subscribe h2 {
	margin-bottom:2rem;
	}

.subscribe span{
	padding:2rem;
	border-radius:.4rem;
	background-color:white;
	color:#888;
	border:.1rem solid #888;
	font-size:2rem;
	margin-top:3rem;
	display:block;
}

.subscribe > div {
	padding:0;
}

.rubric-body{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.rubric-body > a {
	display:block;
	width:100%;
}

.rubric-body > a > img{
	width:100%;
	border-top:.1rem solid #888;
	border-bottom:.1rem solid #888;
}

@media (min-width: 560px) and (max-width: 767px){
	.shop-product{width:49%;}
	#nav-top{display:none;}
	.cosmetolog form {width:70%;margin: 0 auto 0 auto;}
	.form-item{width:48%;}
	.banner-4 .banner-body{	background:none;}
	.footer-item{width:30%;}
	#instagram{flex-direction:row;align-items:flex-start;}
	.insta-item{width:49%;}
	.insta-item:nth-child(2){display:block;}
	.subscribe form{flex-direction:row;}
	.subscribe form > div{width:49%;}
	.rubric-body > a {width:49%}
	.banner-big{display:block}
	.banner-small{display:none}
	}

@media (min-width: 768px){
	.banner-top .banner-body,
	.banner-3 .banner-body,
	.banner-4 .banner-body{	background:none;}
	.filter-item{width:32%;}
	nav.container-flex:first-child {padding-top:1rem;}
	#global-menu > ul.active,
	#global-menu > ul {height:5rem; flex-direction:row;align-items:center;}
	nav ul li {}
	#nav-body{flex-direction:row;}
	#nav-top{display:block;}
	.mobile {display:none;}
	.desktop {display:block;}
	#global-menu{display:block;}
	.cosmetolog {background-image:url(../img/test_drive.jpg);}
	.cosmetolog form {padding-left:50%;}
	.cosmetolog form > div.label{}
	.cosmetolog form > div.field{}
	.cosmetolog form > p.sub-text{}
	.cosmetolog form > div.submit{}
	.cart-item{flex-direction:row;padding-right:2rem;}
	.cart-item-img{width:20%; display:block;}
	.cart-item-description{width:40%}
	.cart-item-description p{display:block;}
	#cart-summ, #cart-disc, #cart-total {}
	.cart-item-actions { width: 30%;}
	.checkout-body > form {width: 50rem; margin:0 auto 0 auto;}
	.form-item{width:48%;}
	.form-item:last-child{margin-bottom:2rem;}
	.container-flex{padding-left:1rem;padding-right:1rem;}
	.about-item{padding-left:5rem; padding-right:5rem;}
	#instagram{flex-direction:row;align-items:flex-start;}
	.insta-item{width:33%;}
	.subscribe {height:100%;background-image:url("../img/shop/sale.jpg");background-position:center left;align-items:flex-end;}
	.subscribe h2{text-align:left}
	.subscribe form > div{width:60%;}
	.subscribe form > div.field{width:100%;}
	.subscribe > div {padding-left:50%;padding-right:5%;}
	.rubric-body > a {width:33%}
	.insta-item{display:block;}
	.banner-big{display:block}
	.banner-small{display:none}
	}

@media (min-width: 768px) and (max-width: 991px) {
	.shop-product{width:49%;}
	.footer-item{width:20%;}
	.banner-5 .banner-body{padding:7rem 2rem 4rem 45%;}
	}


@media (min-width: 992px) and (max-width: 1199px) {
	.shop-product{width:32%;}
	#modal > .container-flex {width:90rem;}
	.container-flex{width:97rem;}
	.footer-body{flex-wrap:nowrap;}
	.footer-item{width:auto;}
	footer ul{display:block;}
	.banner-5 .banner-body{padding:7rem 2rem 4rem 45%;}
	}
@media (min-width: 1200px) {
	.shop-product{width:32%;}
	#modal > .container-flex {width:90rem;}
	.container-flex{width:97rem;}
	.footer-body{flex-wrap:nowrap;}
	.footer-item{width:auto;}
	footer ul{display:block;}
	.banner-5 .banner-body{padding:7rem 2rem 4rem 45%;}
	}

.btn-blue,
div.submit > button,
.shop-product-actions button,
.btn-top-menu{
	background-color:#76c3e4;
	border-color:#76c3e4;
	color:white;
	font-size:2rem;
	}
.shop-product-actions button{font-size:1.6rem;}

.btn-blue:hover,
div.submit > button:hover,
.shop-product-actions button:hover,
.btn-top-menu:hover{
	background-color:white;
	color:#76c3e4;
	}

.form-small{ width:30%; }
.form-big{ width:100%; }

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

.modal > .container-flex > div {
	box-shadow: 0px .5rem 1.5rem 0px rgba(0,0,0,.4);
	z-index:3000;
}

.modal-handle{
	display:flex;
	justify-content:flex-end;
}

.modal-lock{
	overflow:hidden;
}

.modal-handle a{
	color:#888;
}

.white:hover,
.modal-handle a:hover{
	color:#76C2E4;
}
.modal-handle a i{font-size:3rem;}

.filter-item-big{
	width:100%;
}

.filter-item-big > * {
	width:100%;
}

.filter-item-big > a {
	display:block;
	position:relative;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
}

.panel-nopadding{
	padding:0;
}

.white{
	color:white;
}
.container-white{
	min-height: 100% !important;
    height: 100%;
    padding-top: 10px;
}
.container{
    max-width: none !important;
    width: 970px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
	}
}
@media (min-width: 992px){
.container {
    width: 970px;
	}
}
@media (min-width: 768px){
.container {
    width: 750px;
	}
}
.container:before, .container:after {
    display: table;
    content: " ";
}
.blog {
    min-height: 450px;
}

element.style {
}
.blog {
    min-height: 450px;
}
.panel-body {
    padding: 15px;
}
.panel-body:before, .panel-body:after {
    display: table;
    content: " ";
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.col-xs-3 {
    width: 25%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-9 {
    width: 75%;
}
.container:after {
    clear: both;
}
.row:after {
    clear: both;
}
.col-xs-12 {
    width: 100%;
}
.post-title p {
    padding-top: 15px;
}
.post-title h3, .post-title p {
    display: inline-block;
    width: auto;
}
.blog-title-pic {
    height: 150px;
}
hr.blog-sep {
    margin: 15px 0 15px 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    height: 1px;
    background-color: #EEEEEE;
    border: none;
    margin: 0px;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.post-title-pic {
    display: block;
    width: 100%;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.post-padd {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.col-xs-12.post-padd p{
	padding: 10px;
}
.col-xs-2 {
    width: 16.666666666666664%;
}
.col-xs-offset-8 {
    margin-left: 66.66666666666666%;
}
.next-post a {
    text-align: right;
}
.col-xs-2.col-xs-offset-8.next-post{
	padding-right: 0px;
}
.previous_post-class{
	padding-right: 0px;	
}
.prev_next{
	padding-top: 10px;
}
.col-xs-4 {
    width: 33.33333333333333%;
}
.consult-social {
    display: inline-block;
    list-style-type: none;
    vertical-align: top !important;
    padding-top: 30px;
    width: 100%;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.consult-social li.comment-r {
    position: relative;
    left: 60%;
    margin-left: -60px;
}
.list-inline>li:first-child {
    padding-left: 0;
}
.consult-social li {
    display: inline-block;
    text-align: center;
    top: 0;
    width: 60px;
    height: 60px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.btn-social-icon.btn-lg {
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    width: 45px;
}
a.btn-social-color {
    background-color: white;
}
.btn-comments-o {
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-social-icon.btn-lg *:first-child {
    font-size: 1.8em;
    line-height: 45px;
    width: 45px;
}
.btn-social-icon *:first-child {
    border: medium none;
    text-align: center;
    width: 100% !important;
}
.btn-social-icon *:first-child {
    /*border-right: 1px solid rgba(0, 0, 0, 0.2);*/
    bottom: 0;
    font-size: 1.6em;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px;
}
a.btn-social-color i {
    color: #888887;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-comments-o:before {
    content: "\f0e6";
}
.btn-social-icon {
    height: 34px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 34px;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.consult-r {
    text-align: right;
}
.consult-social li.comment {
    position: relative;
    left: 50%;
    margin-left: -30px;
}
.consult-social li.soc-paket-f {
    position: relative;
    left: 45%;
    margin-left: -65px;
}
.consult-social li.soc-paket-i {
    position: relative;
    left: 45%;
    margin-left: 5px;
}
.consult-top-p {
    padding: 0 50px 0 50px;
    text-align: center;
}
.consult-top-p p {
    margin-top: 15px;
}
.consult-top-first {
    margin-top: 30px;
}
.consult-slogan h1 {
    text-align: center;
    color: rgba(118,194,228,1.0);
}
p.bio-inline {
    display: inline-block;
    font-family: Lavanderia;
    margin: 0;
}
.img-consult-base {
    padding: 0;
}
.col-xs-6 {
    width: 50%;
}
.landing-top, .landing-center, .landing-bottom, .img_consult, .brand-logo {
    display: block;
    width: 100%;
    height: 550px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.img_consult {
    height: 400px;
}
.des-consult-base {
    display: table-cell !important;
    vertical-align: bottom !important;
    height: 400px;
}
.consult-description {
    position: absolute;
    left: 0;
    bottom: 20px;
}
.consult-content div h3 {
    padding: 0 50px 0 50px;
}
.basket-check, .basket-price, .shipping-terms > ul > li > a > i, .shipping-terms > ul > li > a > span, #topnav > li > a > span, #producttabs> li > a > span, h3 {
    font-size: 2.1rem;
    /*line-height: 1.4rem;*/
}
.consult-content div .consult-description p {
    padding: 0 50px 0 50px;
}
b.consult-in {
    padding-left: 50px;
}
.consult-description hr {
    padding: 0 50px 0 50px;
}
hr.inline {
    display: inline-block;
    width: 155px;
}
.faq, .about-text {
    padding-left: 60px;
    padding-right: 60px;
}
.faq {
    margin-top: 20px;
}
.anchor {
    display: block;
    position: relative;
    top: -83px;
}
#accordion > .panel {
    box-shadow: none;
    margin: 0;
}
.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}
#accordion > .panel > .panel-heading {
    border-radius: 0;
    border-top: 1px solid #888887;
    background-color: white;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}
.panel-title>a {
    color: inherit;
}
a[data-toggle=collapse] {
    color: #888887;
}
.panel-collapse {
    border-bottom: 1px solid #888887;
}

.collapse {
    display: none;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #ddd;
}
.panel-body {
    padding: 15px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-title h4{
	text-align: left;
}
.panel-group.panel.panel-default{
	border: 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}