@font-face {
    font-family: "Lavanderia";
    src: url("../fonts/Lavanderia_Sturdy.otf");
}

:root{
--blue-color: rgba(118,194,228,1.0);
--gray-color: #888887;
}

html, body{
min-height:100%;
height: auto;
/*
text-rendering: optimizeLegibility;
*/
font-size:12pt;
line-height:16pt;
color:#888887;
}

h1{
font-size:2rem;
}

h2{
font-size:1.4rem;
line-height:1.6rem;
margin: 40px 0 30px 0 !important;
}
.basket-check, .basket-price,
.shipping-terms > ul > li > a > i,
.shipping-terms > ul > li > a > span,
#topnav > li > a > span,
#producttabs> li > a > span,
h3{
font-size:1.1rem;
line-height:1.4rem;
}

.soc-icons i,
.premenu-link{
font-size:1rem;
}

.tag-menu-item p,
.sub-text,
#topnav > li > a > span{
font-size:0.9rem;
}

.product-actions > span{
line-height:0.8rem;
}

.btn{
font-size:1rem;
line-height:1rem;
color:#888887;
}
#check_promo{
height:34px;
}
#svg_logo *{
fill:#888887;
}

row-height {
min-height:100%;
}

.btn, a, a > *, .shop-item-body, span, .tag-tile{
-webkit-transition: all 0.3s ease-out 0s;
-moz-transition: all 0.3s ease-out 0s;
-o-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
}

body{
background-color:rgb(250,250,250);
font-family: "PT Sans";
color: #888887 !important;
display: flex;
min-height: 100vh;
flex-direction: column;
}

header{
height: 120px;
}

main{
flex: 1 0 auto;
}

/* colors */

/* title-golds 				rgba(205,191,172,1.0)
 * title-blue 				rgba(118,194,228,1.0)
 * title-darkblue 			rgba(118,194,228,1.0)
 * title-black 				#888887
 * title-sea 				#3258a5
 * title-deep-blue 			#0083c2
 * title-pink 				#ce80b4
 * title-diamond			#888887
 * */

h3.ml + p,
h3.ml{
margin-top:30px;
margin-bottom:0;
}

h3.ml + h6{
margin-bottom:60px;
}

div.title-golds div.row div h2,
div.title-golds div.row div h3,
.active-title-golds{
color:rgba(205,191,172,1.0) !important;
}

div.title-golds div.row div h6,
div.title-golds div.row div h3.ml,
div.title-golds div.row div p,
div.title-golds div.row div ul li{
color:#888887 !important;
}

.btn-title-golds{
background-color:rgba(205,191,172,1.0)  !important;
}

.btn-title-golds:hover{
background-color:white !important;
color:rgba(205,191,172,1.0)  !important;
border-color: rgba(205,191,172,1.0) !important;
}

div.title-blue div.row div h2,
div.title-blue div.row div h3,
.active-title-blue{
color: rgba(118,194,228,1.0) !important;
}

div.title-blue div.row div h6,
div.title-blue div.row div h3.ml,
div.title-blue div.row div p,
div.title-blue div.row div ul li{
color:#888887 !important;
}

.btn-title-blue{
background-color:rgba(118,194,228,1.0) !important;
}

.btn-title-blue:hover{
background-color:white !important;
color:rgba(118,194,228,1.0) !important;
border-color: rgba(118,194,228,1.0) !important;
}

div.title-darkblue div.row div h2,
div.title-darkblue div.row div h3,
.active-title-darkblue{
color:#3ea3b7 !important;
}

div.title-darkblue div.row div h6,
div.title-darkblue div.row div h3.ml,
div.title-darkblue div.row div p,
div.title-darkblue div.row div ul li{
color:#30263f !important;
}

.btn-title-darkblue{
background-color:#3ea3b7 !important;
}

.btn-title-darkblue:hover{
background-color:white !important;
color:#3ea3b7 !important;
border-color: #3ea3b7 !important;
}

div.title-black div.row div h2,
div.title-black div.row div h3,
a.active-title-black{
color:#888887 !important;
}

div.title-black div.row div h6,
div.title-black div.row div h3.ml,
div.title-black div.row div p,
div.title-black div.row div ul li{
color:#888887 !important;
}

.btn-title-black{
background-color:#888887 !important;
}

.btn-title-black:hover{
background-color:white !important;
color:#888887 !important;
border-color: #888887 !important;
}

div.title-sea div.row div h2,
div.title-sea div.row div h3,
.active-title-sea{
color:#3258a5 !important;
}

div.title-sea div.row div h6,
div.title-sea div.row div h3.ml,
div.title-sea div.row div p,
div.title-sea div.row div ul li{
color:#888887 !important;
}

div.title-pink div.row div h2,
div.title-pink div.row div h3,
.active-title-pink{
color:#ce80b4 !important;
}

div.title-pink div.row div h6,
div.title-pink div.row div h3.ml,
div.title-pink div.row div p,
div.title-pink div.row div ul li{
color:#888887 !important;
}

.btn-title-pink{
background-color:#ce80b4 !important;
}

.btn-title-pink:hover{
background-color:white !important;
color:#ce80b4 !important;
border-color: #ce80b4 !important;
}

div.title-deep-blue div.row div h2,
div.title-deep-blue div.row div h3,
.active-title-deep-blue{
color:#0083c2 !important;
}

div.title-deep-blue div.row div h6,
div.title-deep-blue div.row div h3.ml,
div.title-deep-blue div.row div p,
div.title-deep-blue div.row div ul li{
color:#888887 !important;
}

.btn-title-deep-blue{
background-color:#0083c2 !important;
}

.btn-title-deep-blue:hover{
background-color:white !important;
color:#0083c2 !important;
border-color: #0083c2 !important;
}

.btn-title-diamond{
background-color:#888887 !important;
}

.btn-title-diamond:hover{
background-color:white !important;
color:#888887 !important;
border-color: #888887 !important;
}


/* colors */

.red{
color:red !important;
}

.body-brand{
background-image:url(../img/alps-shops.jpg);
}
.body-shop{
background-image:url(../img/alps-shops.jpg);
}

.body-shop, .body-brand, .body-title-diamond{
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

body.body-title-golds{
background-image:url(../img/back_gold.jpg);
}

body.body-title-blue,
body.body-title-sea,
body.body-title-pink{
background-image:url(../img/back_gray.jpg);
}

body.body-title-black{
background-image:url(../img/back_darkgray.jpg);
}

body.body-title-darkblue{
background-image:url(../img/back_darkblue.jpg);
}

body.body-title-diamond{
background-image:url(../img/diamonds.jpg);
}

body.body-title-golds,
body.body-title-black,
body.body-title-darkblue,
body.body-title-blue,
body.body-title-sea,
body.body-title-pink  {
background-size: 100% 400%;
-webkit-background-size: 100% 400%;
-moz-background-size: 100% 400%;
-o-background-size: 100% 400%;
}


.brand-logo{
height:100%;
}

.img-logo{
width:100%;
height:100%;
}

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.container{
max-width: none !important;
width: 970px !important;
}

.container-white{
min-height:100% !important;
height:100%;
}
.container-white, .navbar-white{
/*
background-color:white;
*/
}

.navbar-white{
background-color:white;
border-bottom: 0px solid #DDDDDD !important;
box-shadow: 0 0 8px rgba(0,0,0,0.1);

}
 nav div.container div, 
 .navbar-white, 
 ul.top_menu, 
 ul.top_menu li, 
 ul.top_menu li a{
 min-height:80px;
 max-height:80px;
 }
 
 .navbar-white{
  min-height:115px;
 max-height:115px;
 } 
 
.row_menu{
/*
padding-top:85px;
*/
}

.row_ref_descript{
min-height:500px;
}

.row_ref_descript:first-child{
min-height:500px;
}


.row_ref_tab{
min-height:450px !important;
}

.row_ref_tab > div > p:last-child {
margin-top:5px;
}
.panel-default{
border:none !important;
}


ul.top_menu li{
font-size:14pt;
}

ul.top_menu li a{
padding-top:27px;
position: relative;
} 
ul.top_menu li a .badge{
  position: absolute;
  top: 36%;
  left: 50%;
  background-color: white;
  border: 1px solid #888887;
  color: #888887;
}
ul.top_menu li.active a{
padding-top:27px;
background:none !important;
color:rgba(118,194,228,1.0) !important;
}

ul.pretop_menu li{
}

ul.pretop_menu li a:hover{
color:rgba(118,194,228,1.0) !important;
border-color:rgba(118,194,228,1.0) !important;
}
 
.navbar-header{
padding-top: 15px;
}

footer {
background-color:white;
}
.container-footer, .navbar-gray {
background-color: rgba(136,136,136,1.0);
}

div.panel_menu{
height:180px;
}

div.panel_menu_big{
overflow: hidden;
margin-top: 7px;
}

div.panel_menu_big .panel-body{
padding-top:0px;
padding-bottom:0;
}

div.panel_menu div,
div.panel_menu div div,
ul.prod-ref li{
max-height:100%;
}

div.panel_menu div div{
height:150px;
}

ul.prod-ref{
height:100% !important;
}

ul.prod-ref li{
width:136px !important;

}
ul.prod-ref li a img{
height:100%;
width:auto;
max-height:130px !important;
margin-bottom:5px;
}

ul.prod-ref li a p{
margin:0;
white-space:nowrap;
width:136px;
}

.shop-terms{
overflow:hidden;
}

.shop-terms ul{
height:100% !important;
}

.shop-terms ul li{
width:180px !important;
vertical-align: top;
}
.shop-icon{
display:block;
height:66px;
}

.shop-icon > .fa{
font-size:3rem;
margin-top:15px;
}

.shop-icon + p{
white-space: nowrap;
height:40px;
}



.container-shadow{
height:100%;
padding:0;
}

.navbar-default{
border:none;
}

.navbar, .panel{
margin-bottom:5px;
}

.container-footer{
background-color: rgba(255,255,255,1.0);
border-top:1px solid #ddd;
height: 200px;
position:raltive;
}
.menu-footer-container{
height:auto;
}

.carousel-control{
background-image:none !important;
}

.carousel-indicators{
bottom:5px;
}

.row-inner-padding{
padding-top:2em;
}


ul.h-menu{
margin:0;
padding:0;
}

ul.social, ul.h-menu{
margin-top:20px;
}

ul.social p{
text-align:right;
}

ul.social li{
float:right;
}

ul.h-menu li{
padding:0;
}

ul.h-menu li.h-m-item{
float:left;
}

ul.menu-footer, ul.h-menu{
color:#888887;
list-style-type:none;
}

.menu-footer{
padding-left:20px;
}

.menu-footer-first{
padding:0;
}

ul.menu-footer li.top{
margin-bottom:0.5em;
}

ul.menu-footer li a {
color:#888887;
}

ul.menu-footer li a:hover {
color:black;
}

.clear{
clear:both;
}

.row-content{
margin-top:0px;
margin-left:auto;
margin-right:auto;
margin-bottom:-200px;
min-height:100%;
height:auto !important;
}

.row-footer{
height: 200px;
}

a.btn-social-color{
background-color: white;
}

a.btn-social-color i{
color:#888887;
}

a.btn-social-color:hover i{
color:#ffffff;
}

.fleft{
float:left;
}

.centered-prods{
text-align:center !important;
}

.centered-prods ul li a{
min-height:300px;
}
.centered-prods ul li a:hover{
color:black;
text-decoration:none;
}

.centered-prods ul li a.centered-prods div a h5{
}

.special-descript h2,
.special-descript p,
.centered-prods div a p{
text-align:left;
padding: 0 5px 0 5px;
}

.special-descript h2{
text-transform:uppercase;
margin-bottom:3px;
}

.centered-prods div a h5{
text-transform:uppercase;
}

centered-prods div a p{
}

.centered-prods div a:hover{
color:black;
text-decoration:none;
}

.centered-prods div a:hover p{
color:#888887;
}

.special-descript p{
}

.panel-slogan div,
.panel-special div{
padding:0;
}

.special-descript{
padding:0 30px 0 30px !important;
}

.panel-special div a,
.centered-prods div a{
color:#888887;
}

.whole-window{
min-height: 450px;
}

ul.prods{
display: block;
list-style-type:none;
padding:0;
vertical-align: top !important;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
margin:0 auto 0 auto;
}

ul.prods li {
display: inline-block;
text-align: center;
width:16%;
top:0;
}

ul.prods li a,
ul.prods li a img.prod{
width:100%;
}

ul.prods li a{
color:#777777;
text-decoration: none;
}

ul.prods li a:hover{
color:rgba(118,194,228,1.0);
text-decoration: none;
}

.img-responsive {
    margin: 0 auto;
}

img.prod{
max-width:190px;
}

img.ref-prod{
/*
max-width:125px !important;
*/
max-height: 200px !important;
}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  height:1px;
  background-color: #EEEEEE;
  border:none;
  margin:0px;

}


a.title-darkblue{
color:#30263f;}

hr.title-darkblue{
background-color:#30263f;
}

ol.title-darkblue li{
border-color:#30263f;
}
ol.title-darkblue li.active{
background-color:#30263f;
}

a.title-blue{
color:#888887;}

hr.title-blue{
background-color:#e2e2e2;
border-color:#e2e2e2 -moz-use-text-color #FFFFFF;
}

ol.title-blue li{
border-color:#e2e2e2;
}
ol.title-blue li.active{
background-color:#e2e2e2;
}

a.title-golds{
color:#cdbfac;}

hr.title-golds{
background-color:#cdbfac;
border-color:#cdbfac -moz-use-text-color #FFFFFF;
}

ol.title-golds li{
border-color:#cdbfac;
}
ol.title-golds li.active{
background-color:#cdbfac;
}

a.title-black{
color:#888887;}

hr.title-black{
background-color:#888887;
border-color:#888887 -moz-use-text-color #FFFFFF;
}

ol.title-black li{
border-color:#888887;
}
ol.title-black li.active{
background-color:#888887;
}

a.title-sea{
color:#3258a5;}

hr.title-sea{
background-color:#3258a5;
border-color:#3258a5 -moz-use-text-color #FFFFFF;
}

ol.title-sea li{
border-color:#3258a5;
}
ol.title-sea li.active{
background-color:#3258a5;
}

a.title-pink{
color:#CE80B4;}

hr.title-pink{
background-color:#e2e2e2;
border-color:#e2e2e2 -moz-use-text-color #FFFFFF;
}

ol.title-pink li{
border-color:#CE80B4;
}
ol.title-pink li.active{
background-color:#CE80B4;
}

a.title-deep-blue{
color:#0083c2;}

hr.title-deep-blue{
background-color:#0083c2;
border-color:#0083c2 -moz-use-text-color #FFFFFF;
}

ol.title-deep-blue li{
border-color:#0083c2;
}
ol.title-deep-blue li.active{
background-color:#0083c2;
}

#sidenav{
display:none;
position: fixed;
top:50%;
z-index:100;
}

#sidenav ul {
list-style:none outside none;
}

#sidenav ul li {
margin:5px;
}

span.quad{
position:relative;
display: block;
top:2px;
left:2px;
height:10px;
width:10px;
background-color: rgba(47,47,47,0.4);
}

#sidenav ul li a{
white-space:nowrap;
padding:0;
color:rgba(47,47,47,0.4);
}

#sidenav ul li a:hover span.quad {
background-color: rgba(47,47,47,1.0);
}

#sidenav ul li a .img,
#sidenav ul li a .text{
display:inline-block;
height:20px;
}

#sidenav ul li a .img {
background-position:center center;
background-repeat: no-repeat;
}

#sidenav ul li a .img,
#sidenav ul li.active a .img {
width:10px;

}

#sidenav ul li a:hover .img,
#sidenav ul li.active a:hover .img{
border: 1px solid rgba(47,47,47,1.0); 
}

#sidenav ul li.active a:hover .img{
background-color: rgba(47,47,47,1.0);
}

#sidenav ul li a .img {
border: 1px solid rgba(47,47,47,0.4); 
background-color: rgba(0, 0, 0, 0);
border-radius: 10px;
cursor: pointer;
height: 10px;
margin: 1px;
text-indent: -999px;
width: 10px;
/*
background-image:url(../img/ui/dot.svg);
*/
}

#sidenav ul li.active a .img {
border: 1px solid rgba(47,47,47,0.0); 
background-color: rgba(47,47,47,0.4); 
height: 12px;
margin: 0;
width: 12px;
/*
background-image:url(../img/ui/dot_active.svg);
*/
}



#sidenav ul li a .text{
height:10px;
margin-top:3px;
margin-left:5px;
margin-bottom:0px;
white-space:nowrap;
}

#sidenav ul li.active a span.quad {
background-color: rgba(0,0,0,0);
border-color: rgba(47,47,47,0.4);
border-style: solid;
border-width: 2px;
top:1px;
left:3px;
height:12px;
width:12px;
}

#sidenav ul li.active a:hover span.quad {
border-color: rgba(47,47,47,1.0);
}

#sidenav ul li a:active span.quad {
background-color: rgba(0,0,0,0);
border-color: rgba(47,47,47,1.0);
border-style: solid;
border-width: 2px;
top:1px;
left:3px;
height:12px;
width:12px;
}

span.hidden_text{
margin-top:-14px;
padding-right: 14px;
color:rgba(47,47,47,0.4);
/*
visibility:hidden;
*/
white-space:nowrap;
}

#sidenav ul li a:hover {
background:none;
color: rgba(47,47,47,1.0); 
}



.prod_title{
text-align:left;
letter-spacing:0px;
margin-top:30px;
margin-bottom:0;
}

.prod_title_en + h2{
height:52px;
margin-top:20px !important;
}
.prod_title + h3{
margin-top:50px !important;
}
.img_centred{
display: table-cell; 
vertical-align: middle; 
}

.img_centred > img{
vertical-align: middle; 
}

div#description div{
padding-top:20px;
padding-bottom:30px;

}

div#description div h3{
color:#888887;
}

div#description div p:nth-child(5){
margin-top:30px;
padding-right:10%;
}

div#description div p,
div#usage div p,
div#ingredients div ul{
color:#888887;
}

div#ingredients div ul{
padding: 0 20px 0 0;
}

div#description div img{
max-height:400px;
}

div#usage div{
padding-top:280px;
padding-left:50px;
padding-right:70px;
}

div#usage div h3{
text-align:right;
}

div.brand{
padding-top:70px;
padding-left:15px;
height:470px;
}

div.brand p{
color:white;
margin:0;
font-size:21pt;
padding-left:10px;
padding-right:10px;
}

div.brand p:last-child{
text-align:right;
}

div.brand-slogan h1{
color:rgba(255,255,255,1.0);
height:60px;
text-align:center;
}

.col-right{
padding-right:50px;
}
.col-left{
padding-left:50px;
}

.col-right p,
.col-left p{
}

.col-char{
padding-top: 40px;
}
.col-choise,
.col-env{
padding-top:70px;
}

.panel-brand-col{
margin-top:250px;
background-color:rgba(255,255,255,0.7)
}

.retail-title{
color:rgba(118,194,228,1.0)
}

.retail-city, .retail-shop, .retail-addr{
color:#888887;
}

.retail-city, .retail-addr, .retail-shop{
margin-bottom:10px;
}

.retail-city li a{
color:#888887;	
}

.retail-city li a h2{
margin-top:10px;	
}

.retail-city li a:hover{
background-color:white !important;
color:rgba(118,194,228,1.0) !important;
}

.retail-city li.active a{
background-color:white !important;
color:rgba(118,194,228,1.0) !important;
}

.retail-addr h5{
margin-bottom:0;
}

.retail-addr h5, .retail-addr p, .retail-shop p{
margin:0;
}

.shops-inline{
display:inline-block;
margin-left:-15px;
width:200px;
margin-right:15px;
float:left;
}

.retail-city h2{
text-align:left;
}

.retail-shop{
margin-top:10px;
}

.shop-adv div h4:first-child,
.shop-adv div p:nth-child(5){
margin-bottom:0;
}

.whole-window div hr:nth-child(2),
.shop-prods hr:first-child{
display:none;
}

.section-title{
padding-left:30px;
}

.section-title h2{
text-align:left !important;
font-weight: bold;
}

.shop-prods div.section-prods div{
height:215px;
}

.prod-img img{
max-height:215px;
}

.shop-main{
margin-top:0px;
}

.shop-main > .filter-main {
padding-right:0;
}

.panel-shop .panel-body,
.panel-shop .shop-item,
.panel-shop .shop-items,
.panel-comments .panel-body,
.panel-comments .comments-item,
.panel-rubric .rubric-item,
.panel-rubric .panel-body,
.tag-menu-item{
padding-left:7px;
padding-right:7px;
}
.panel-shop .row,
.panel-comments .row,
.panel-rubric .row{
padding-left:14px;
padding-right:14px;
}

.btn-rubric{
width:100%;
margin-bottom:0px;
border:none;
height:223px;
border-radius:0;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
overflow:hidden;
}

.btn-rubric:hover{
border-top-color:#76c1e4 !important; 
border-bottom-color:#76c1e4 !important;
}

.btn-product{
width:100px;
height:30px;
padding:0px 1px 2px 1px;
color:white;
border-color:white;
}

.btn-basket,
.rec-des h3.price,
.rec-des p.price,
.prod-des h3.price,
.prod-des p.price{
display:inline-block !important;
}

.prod-des h3.price,
.rec-des h3.price{
margin-top:1px;
font-weight: bold;
}

.rec-img img{
max-height:150px;
}

h1, h2, h3{
margin-top:10px;
}

h3.rec-name-ru{
height:32px;
}
h5.rec-name-ru{
white-space:nowrap;
height:25px;
margin-bottom:40px;
}

.btn-buy-prod, 
.btn-basket{
display:block;
margin-top:10px;
background-color:white !important;
border-color:#888887;
color:#888887 !important;
height:25px;
width:80px;
padding-top:2px;
border-radius: 3px !important;
}

.btn-basket{
margin-left:;
}

.btn-buy-prod:hover, 
.btn-basket:hover{
border-color:black;
color:black !important;
}

form.basket{
display:inline-block;
height:25px;
width:80px;
color:white;
}

.btn-basket{
padding-left:0;
padding-right:0;
text-align:center;
margin-top:-15px;
margin-left:65px;
color:white;
}

.btn-basket:hover{
color:white;
}

.rec-des .btn-basket{
margin-left:10px;
}

.btn-order{
margin:0 0 5px 0;
padding-top:3px;
width:100px; 
}

.buy-usage{
margin-top:45px;
font-weight:bold;
}

.buy-note{
white-space:nowrap;
vertical-align:middle;
margin-top:5px;
margin-bottom:0;
text-align:center;
}

.buy-note-left{
text-align:right;
}
.buy-note-right{
text-align:left;
}

.buy-rec-title{
font-weight:bold;
}

a.rec-more-info{
color:#888887;
}

.row-thanks h2{
margin:0;
}

.row-thanks ul{
list-style:none;
margin-top:160px;
padding-left:80px;
}

.row-thanks ul li{
margin-bottom:6px;
}

.row-thanks ul li a{
color:#888887;
cursor: pointer;
}

#basket-content > hr{
margin-bottom:15px;
}

.basket-head div p{
white-space:nowrap !important;
margin-bottom:15px;
}
.basket-price{
margin-top:80px;
}

.basket-prod .prod-des h3.title{
height:44px;
}

.basket-prod .prod-des h5{
height:31px;
}

.basket-prod .prod-img img{
max-height:191px;
}

.panel-info{
max-height:223px;
padding-top:0;
}

.panel-info .row div{
padding:0;
}

.carousel-inner .item{
overflow:hidden;
}

.carousel-inner .item:before{
height:100%;
display: inline-block;
vertical-align: middle;
}

.carousel-inner .item img{
display: inline-block;
vertical-align: middle;
}

.ref-img img,
.ref-img-2 img,
.ref-img-3 img{
max-height:450px;
}

.tech-inner{
max-height:450px;
}

.products_menu{
overflow:hidden;
margin-top:2px;
}

.products_menu_big{
overflow:hidden;
margin-top:10px;
display:block;
}

#slider{
height:150px;
background-color:#fff;
position:relative;
display:block;
width:1000px;
left:50%;
margin-left:-500px;
}


a .info{
height:223px;
width:322px;
background-repeat: no-repeat;
background-size: cover;
}

a .info-left{
border-radius: 4px 0 0 4px !important;
}

a .info-center{
border-radius: 0 !important;
}

a .info-right{
border-radius: 0 4px 4px 0 !important;
}

a .info p{
text-align:center;
color:#888887;
height:40px;
padding-top:182px;
margin:0;
}

a:hover .info p{
color:black;
text-decoration: none;
}

.ref-img{
height:450px;
padding:0 !important;
}

.carous-item-link{
display:block;
height:100%;
width:100%;
background-position:center center;
background-repeat: no-repeat;
}

.ref-img-back, 
.prod-menu-img,
.shop_adv_img{
display:block;
height:100%;
width:100%;
background-position:center center;
background-size: contain;
background-repeat: no-repeat;
}

#technologies{
width:910px;
}

.ref-ing, .ref-ing div{
height:100%;
}

.ref-ing > div{
display:table;
}

.ref-ing > div > div{
display:table-cell;
vertical-align:middle;
}

.ref-img-back-400{
height:400px;
}
.ref-img-back-450{
height:450px;
}
.ref-social{
padding:0 0 0 0!important;
margin:0 !important;
}
.ref-social{
height:100px;
padding-left:30px !important;
}

.ref-social > div{
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
padding:0 0 0 0!important;
margin-left:auto;
margin-right:auto;
}

.ref-social p{
display:block;
text-align:center;
margin-bottom:15px;
height:19px;
width:100%;
}

.ref-social p a{
position:relative;
top:-10px;
}

.ref-social ul.list-inline li a{
padding:0 !important;
margin:0 !important;
}

.prod-img-back{
height:215px;
}

.prod-menu-img{
height:130px !important;
width:136px;
}

.rec-img-back{
height:181px;
}

.panel-no-padding{
padding:0 !important;
overflow:hidden;
}
.panel-body-no-padding{
padding-top:0;
padding-bottom:0;
}

.panel-special{
overflow:hidden;
}

.panel-slogan div h2{
margin:7px 0 7px 0;
}

.img-special{
display:block;
height:320px;
width:100%;
background-position: center center;
/*
background-size: contain;
*/
background-repeat: no-repeat;
}

.img-section{
display:block;
height:300px;
width:130px;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
}

.row-usage{
width:910px !important;
}

.shop-info{
height:300px;
text-align: center;
}

.shop-info-adv{
padding:0;
}

.shop-info h4:nth-child(1){
margin-top:25px;
}

span.title-golds{
border-color:rgba(205,191,172,1.0) !important;
}
span.title-blue{
border-color:rgba(118,194,228,1.0) !important;
}
span.title-darkblue{
border-color:#30263f !important;
}
span.title-black{
border-color:#888887 !important;
}
span.title-sea{
border-color:#3258a5 !important;
}
span.title-pink{
border-color:#ce80b4 !important;
}
span.title-deep-blue{
border-color:#0083c2 !important;
}

.form-margin{
margin-top:10px;
}

.form-margin .col-xs-4{
padding-left:60px;
}

#client-id-label{
text-align:center;
color:rgba(118,194,228,1.0);
margin-left:auto !important;
margin-right:auto !important;
margin-bottom:30px;
border-bottom: 1px solid #888887;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
display:block;
}

.payment{
font-weight:normal !important;
}

#checkout-form div div label{
width:100%;
text-align:right;
}

.landing-top,
.landing-center,
.landing-bottom,
.img_consult,
.brand-logo{
display:block;
width:100%;
height:550px;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}

.navbar-header{
padding:0;
}

.brand-logo{
height: 80px !important;
width: 138px !important;
image-rendering: optimizeQuality;
}

.landing-top{
background-image:url(../img/landing/top.jpg);
}

.landing-center{
height:850px;
background-image:url(../img/landing/center.jpg);
}

.landing-bottom{
background-image:url(../img/landing/bottom.jpg);
}

.landing-panel{
overflow:hidden;
}

.landing-panel .panel-body{
padding:0;
}

b.consult-in{
padding-left:50px;
}

hr.inline{
display:inline-block;
width: 155px;
}

hr.consult-in{
position:relative;
display:block;
left:50px;
width: 285px !important;
}

hr.landing{
display:block !important;
}

.img_consult{
height:450px;
}

.img-consult-base{
padding:0;
}

.btn-lang{
border:none;
margin-top:21px;
}

.btn-pinterest {
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-pinterest:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background-color:rgba(204,0,0,1.0);
}

.btn-comments-o {
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-comments-o:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background-color:#428bca;
}

*:focus {
    outline: none;
}

#consult-title-img{
display:block;
height:380px;
width:100%;
}

.consult-top-p{
padding:0 50px 0 50px;
text-align:center;
}

.consult-top-p p{
margin-top:15px;
}
.consult-top-first{
margin-top:30px;
}
.consult-top{
margin-top:25px
}

b.consult-in,
.consult-top-p p,
.ask-des p,
.faq p,
.distribution div p,
.consult-content div .consult-description p,
.about-text p,
.about-text ul li,
.retail-shop p,
.retail-addr p,
.shipping div div p{
}

.consult-slogan h1{
text-align:center;
color: rgba(118,194,228,1.0);
}

.consult-online h2{
margin-bottom:0;
}

.consult-online-more{
padding:0 57px 0 0;
text-align:right;
}

.ask-des{
padding:70px 0 0 0;
}

.faq{
margin-top:20px;
}

.faq, .about-text{
padding-left:60px;
padding-right:60px;
}

.faq-body{
display:block;
height:450px;
width:570px;
margin-left:200px;
padding-top:50px;
}

.ask{
display:block;
height:450px;
width:970px;
}

.faq-body p{
}}

.faq-body h2,
.faq-body h3,
.faq-body p
{
text-align:left;
}

.faq-body h3{
margin-bottom:50px;
}

.faq-body h3:last-of-type{
margin-bottom:20px;
}

.consult{
text-align:center;
}
.consult-r{
text-align:right;
}
.consult-l{
text-align:left;
}

.consult-content div h3{
padding: 0 50px 0 50px;
}

.consult-social{
display:inline-block;
list-style-type:none;
vertical-align: top !important;
padding-top:30px;
width:100%;
}

.shop-icons{
padding-top:20px;
}

p.empty{
width:100%;
height:20px;
display:block;
}

.consult-social li{
display:inline-block;
text-align:center;
top:0;
width:60px;
height:60px;
}

.consult-social li.comment{
position:relative;
left:50%;
margin-left:-30px;
}

.consult-social li.comment-r{
position:relative;
left:70%;
margin-left:-60px;
}

.consult-social li.comment-l{
position:relative;
left:30%;
margin-left:0px;
}
.consult-social li.soc-paket-f{
position:relative;
left:45%;
margin-left:-65px;
}

.consult-social li.soc-paket-i{
position:relative;
left:45%;
margin-left:5px;
}

.consult-social-all{
padding-left:50px;
}

.new-service{
width:516px;
border: 1px solid #888887;
border-radius: 3px;
padding-left:5px;
}

.consult-content div .consult-description p{
padding: 0 50px 0 50px;
}

.consult-description hr{
padding: 0 50px 0 50px;
}

.consult-description{
position:absolute;
left:0;
bottom:20px;
}

.des-consult-base{
display: table-cell !important;
vertical-align: bottom !important;
height:450px;
}

#consult-form{
margin-bottom:10px;
margin-top:10px;
}

#id_msg{
width:100%;
height:100px;
}

#id_options{
height:150px !important;
}

.brand-content-img{
padding:0;
}

.brand-content-img div{
display:block;
width:100%;
height:450px;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
}

div.title-diamond ul.nav li a p{
color:rgba(255,255,255,0.4);
}
div.title-diamond ul.nav li a .img{
border-color:rgba(255,255,255,0.4) !important;
}
div.title-diamond ul.nav li.active a .img{
background-color:rgba(255,255,255,0.4) !important;
border-color:rgba(255,255,255,0) !important;
}
div.title-diamond ul.nav li a:hover p{
color:rgba(255,255,255,0.8);
}
div.title-diamond ul.nav li a:hover .img{
border-color:rgba(255,255,255,0.8) !important;
}
div.title-diamond ul.nav li.active a:hover .img{
background-color:rgba(255,255,255,0.8) !important;
border-color:rgba(255,255,255,0) !important;
}

.copyright {
padding-top:20px;
}
.copyright p{
text-align:center;
margin-bottom:0;
}

.shipping-terms > .tab-content{
margin-top:30px;
}
.product-tabs > .tab-content{
margin-top:0;
}

.term-descript{
min-height:350px;
}

.term-descript p {
}

.consult-alert{
margin-bottom:5px !important;
}

.consult-alert p{
text-align:center !important;
}

#id_captcha_1{
width:100px;
}

.captcha-refresh{
margin-left:10px;
color:#888887;
}

.about-text{
}

.about-text ul{
padding-left:0px;
list-style-type:none;
}

.about-text ul li{
padding-top:5px;
}

.about-text:nth-child(1) hr{
display:none;
}

p.bio-inline{
display:inline-block;
font-family:Lavanderia;
margin:0;
}

p.slogan{
font-size:21pt !important;
}

#id_confirmed{
margin-top:5px;
}

#id_confirmed_text{
margin: 0 0 0 10px;
}

#id_confirmed, #id_confirmed_text{
display:inline-block;
}

.distribution div{
padding: 60px;
}

.shipping div div{
padding: 0 60px;
}

.errorlist{
padding-top:5px;
padding-left:15px;
color:red;
}

.fields{
color:black;
}

.anchor{
display:block;
position:relative;
top:-83px;
}

.section-menu{
height:35px !important;
background-color:white;
}

.section-menu ul li a{
}

.section-menu-active a{
background-color: rgba(118,194,228,1.0);
color:white !important;
}

.section-menu ul{
list-style-type:none;
padding:0px;
height:100%;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
margin:0px auto 0px auto;
}

.section-menu ul li{
display:inline-block !important;
position:relative;
margin-right:20px;
height:35px !important;
text-align:center;
}

.section-menu ul li:last-child{
margin-right:0px;
}

.section-menu ul li a{
position:relative;
display:block;
text-transform: none;
color:#888887;
min-height:35px;
padding: 7px 15px 0 15px;
}
.section-menu ul li a:hover{
text-decoration:none;
color:rgba(118,194,228,1.0);
}

hr.section-menu-edge{
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  height:1px;
  background-color: rgba(118,194,228,1.0);
  margin:0 0 1px 0;
}

div.section-arrow{
display:none;
position:relative;
height:15px;
width:15px;
background-color: white;
z-index:1000;
margin-top:-10px;
margin-left:auto;
margin-right:auto;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
border-color:rgba(118,194,228,1.0) !important;
border-bottom:1px solid;
border-right:1px solid;
}

div.section-arrow-active{
display:block;
}

.shop-item-body {
border: 1px solid #ababab !important;
margin-bottom:14px;
}

.shop-item-body:hover{
-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.5);
box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.5);
border:1px solid white !important;
}

div.intensive{
height:300px;
}

div.intensive-name{
height:80px;
}

div.section-name-text,
div.section-name-arrow{
display:block;
position:relative;
width:180px;
height:350px;
margin:0 0px 0 0;
padding:0;
float:left;
}

.section-name-text h3{
margin:166px 0px 0 0;
position:relative;
vertical-align:middle;
height:28px;
width:180px;
}

div.section-name-arrow{
width:70px;
margin:0;
padding-left:5px;
}

span.arrow-shop{
display:block;
position:relative;
height:50px;
width:50px;
margin:155px 0 0 0;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
border-color:#888887 !important;
border-bottom:1px solid;
border-right:1px solid;
}

.section-name span.intensive{
top:0;
margin-top:25px;
left:50%;
margin-left:-25px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.btn-shop{
position:relative;
height:34px !important;
left:50%;
margin-left:-89px;
width:180px;
}

a.buy-button{
border-top-left-radius:0;
border-bottom-left-radius:0;
}

div.shop-product{
width:100%;
height:326px;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
}

.shop-product h3{
margin:0;
}

.blog{
min-height:450px;
}

.blog hr:first-child{
display:none;
}

.post-title-pic{
display:block;
width:100%;
height:450px;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}

.post-title-pic-cont{
padding-top:0;
}

.post-title h3,.post-title p{
display:inline-block;
width:auto;
}
.post-title p{
padding-top:15px;
}

.post-body{
margin-bottom:15px;
min-height:350px;
}

.post-padd{
padding-left:30px;
padding-right:30px;
}

.next-post a{
text-align:right;
}


.blog-title-pic{
height:150px;
}

span.round-img{
height:150px;
width:150px;
}

span.round-img img{
display:block;
position:relative;
height:150px;
width:150px;
left:50%;
margin-left:-75px;
background-image:url(../img/alps-shops.jpg);
}

.panel-shop-border{
border: 2px solid black;
}

.brand-hr{
margin: 25px 0 15px 0;
}

hr.blog-sep{
margin:15px 0 15px 0;
}

.menu-divider{
display:block;
position:relative;
width:100%;
height:1px;
background-color:#888887;
}

.premenu, .premenu div, .premenu ul, .premenu ul li{
min-height: 40px !important;
max-height: 40px !important;
}

.premenu{
/*
background-color: #76C2E4;
*/
}

.premenu ul li{
color:#888887;
padding:0 5px 0 5px;
}

.premenu ul li a {
min-height:22px !important;
max-height:30px !important;
margin-top:10px;
padding:0 10px 0 10px;
}

.premenu-btn{
color:white !important;
background:none;
background-color:rgba(118,194,228,1.0);
border-color:rgba(118,194,228,1.0);
}

.premenu-btn:hover, .premenu-btn:focus{
color:rgba(118,194,228,1.0) !important;
background-color:white;
border-color:rgba(118,194,228,1.0);
}

.premenu-link{
color:#888887 !important;
margin-top:9px;
}

.premenu-link > i{
color:#888887 !important;}

#online_consults:target{
padding-top:15px;
}

a span.animated{
    display:inline-block;
    height: 21px;
    overflow: hidden;
}

a span.animated em{
    display:block;
    font-style: normal;
    position: relative;
    top:0px;
    transition: top 300ms ease 0s;
}

a:hover span.animated em{
    top:-21px;
}

span.animated em.hover{
    color:rgba(118,194,228,1.0);
}

.basket-icon a {
padding-top:20px !important;
}

.basket-icon a span em {
color:#aaaaaa;
}

ul.top_menu li.active.basket-icon a span em{
color:rgba(118,194,228,1.0);
}

.basket-icon a span em i{
font-size:30px;
}

.basket-icon a span em{
height:30px;
}

.basket-icon a span.animated{
height: 30px;
}

.basket-icon a:hover span.animated em{
top:-30px;
}

.drop-city{
	margin-top:20px;
}

.drop-city-parent, .retail-title-parent, .retail-shops-list{
padding-left:60px;
}

svg{
margin:0;
}

#basket_icon{
height:30px;
width:30px;
}

#basket_icon .b_icon{
fill: #aaaaaa;
}

li.active a span.animated em #basket_icon .b_icon,
span.animated em.hover #basket_icon .b_icon{
fill: rgba(118,194,228,1.0);
}

a.btn-social-icon #basket_icon{
margin-top:5px;
height:35px;
width:35px;
}

a.btn-social-icon #basket_icon .b_icon{
fill:#888887;
}

a.btn-social-icon:hover #basket_icon .b_icon{
fill:#FFFFFF;
}

.retail-shops-list{

min-height:400px;
}
 
.mapparent, .mapcontainer{
height: 400px;
} 
.mapcontainer{
	padding-top:5px;
	padding-right:60px;
}

.panel_menu_big_tag{
height:auto !important;
}

.carousel-area, carousel-inner, .carous-item, .carous-item-link{
min-height:450px;
}

.comment-title{
margin-bottom:30px;
}

.comments-item-body{
/*
background-color:#76C2E4;
*/

border:1px solid #888887 !important;
}
.panel-comments p{
color:#888887;
}

.quote{
min-height:400px;
padding-top:30px;
padding-left:30px !important;
padding-right:30px !important;
}

.comment-author{
padding-top:5px;
}

.advice-parent{
color:#888887;
padding:0 60px 0 60px;
}
.tag{
padding-left:50px;
padding-right:50px;
}

.tag-title{
margin:0 0 15px 0;
text-align:center;
}

.tag-title, .tag-advice h4{
color:rgba(118,194,228,1.0);
}

.tag-advice{}

.tag-advice p{
padding-top:12px;
color:#888887;
column-width:100px;
column-count:2;
column-gap: 60px;
-moz-column-count: 2;
-moz-column-width: 100px;
-moz-column-gap:60px;
-webkit-column-count: 2;
-webkit-column-width: 100px;
-webkit-column-gap:60px;
    }

#id_country{
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
color: #555;
background-color: #FFF;
background-image: none;
border: 1px solid #CCC;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#id_country:focus {
border-color: #66AFE9;
outline: 0px none;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.storage-red{
color:red;
}
.storage-green{
color:green;
}


.popover{
width:250px;
min-height:50px !important;
max-height:50px !important;
text-align:center;
}

div.arrow{
max-height:auto !important;
min-height:auto !important;
}

svg{
height:100%;
width:100%;
}

.separator{
margin:10px 0 10px 0;
}

disk{
color:rgba(118,194,228,1.0);
}

.offer{
height:494px;
}

.panel-about-pic,
#online-shop,
div#modal-pic{
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}

.model-fixed{
width:900px !important;
height:526px !important;
}

.modal-wide{
width:900px !important;
}

.fa-big-icon{
font-size:35px;
}

#online-shop{
display:block;
width:100%;
height:470px;
background-image:url('../img/retail/online.jpg');
}

.link-to-shop{
overflow:hidden;
}

.link-to-shop .panel-body{
padding:0 0 15px 0;
}

.carousel-control{
/* width:5%; */
}

.carousel-indicators{
bottom:-5px;
}

.carousel-indicators li{
border-color:#888887;
}

.carousel-indicators .active{
background-color:#888887;
}


.control_arrow{
display:block;
position:absolute;
height:20px;
width:20px;
border-top: 1px solid;
top:50%;
margin-top:-25px;
}

.left_arrow{
border-left: 1px solid;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
left:30%;
}

.right_arrow{
border-right: 1px solid;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
left:60%;
}

.control_arrow{
border-color: #888887;
}


.shop-section-title{
margin-bottom:30px;
}

.shop-items{
margin-bottom:20px;
}

.prod-des h3 a,
.rec-des h3 a,
.rec-des h3 a:hover{
color:#888887;
text-decoration:none;
}

.prod-des h3{
margin-top:0;
height:50px;
}
.prod-des h3 a:hover{
color:rgba(118,194,228,1.0);
}

.prod-des h5{
height:20px;
}

.prod-des .ref-img-back{
height:225px;
}

.prod-des .storage-red{
height:80px;
}

.prod-des > .input-group > a,
.prod-des button{
display:inline-block;
border-radius:0;
padding-bottom:10px;
}

.prod-des > .input-group > a{
border-radius: 0 4px 4px 0;
border-left:none;
}

.prod-des > .input-group > a:hover,
.prod-des button:hover{
background-color:rgba(118,194,228,1.0);
color:white;
}

.prod-des .input-group{
padding-left:0px;
}

.prod-des .input-group-addon{
background-color:white;
}

.prod-des{
padding:0 10px 0 10px; 
} 

.btn-make-order-blue{
background-color: rgba(118,194,228,1.0);
border-color: rgba(118,194,228,1.0);
color:white;
}

.btn-make-order-blue:hover, .btn-make-order-blue:focus{
background-color: white;
border-color: rgba(118,194,228,1.0);
color:rgba(118,194,228,1.0);
}

.btn-make-order-gold{
background-color: rgba(205,191,172,1.0);
border-color: rgba(205,191,172,1.0);
color:white;
}

.btn-make-order-gold:hover, .btn-make-order-gold:focus{
background-color: white;
border-color: rgba(205,191,172,1.0);
color:rgba(205,191,172,1.0);
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #76c1e4;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.distrib{
color:#76c1e4 !important;
}


.panel-about-pic{
background-image:url('../img/about.jpeg');
overflow:hidden;
height:409px;
}


.shipping-terms ul li a i,
.shipping-terms ul li a span{
display:block;
color:#888887;
}

.shipping-terms ul li a i{
}

.shipping-terms ul li.active a i,
.shipping-terms ul li.active a span,
.shipping-terms ul li a:hover i,
.shipping-terms ul li a:hover span,
.shipping-terms .nav-tabs.nav-justified > .active > a:hover > i,
.shipping-terms .nav-tabs.nav-justified > .active > a:hover > span
{
color: #76c1e4 !important;
}

.shipping-terms ul li a,
.shipping-terms .nav-tabs.nav-justified > .active > a:hover,
.shipping-terms .nav-tabs.nav-justified > .active > a:focus,
.shipping-terms ul.nav-justified > li > a,
.shipping-terms ul.nav-justified > li > a:hover,
.shipping-terms ul.nav-justified > .active > a,
.shipping-terms ul li.active a{
background-color:transparent;
border:none;
}

.shipping-terms ul li.active a span{
border-bottom: 1px solid #76c1e4;
}

.shipping-terms .tab-content > div{
padding-left:15px;
padding-right:15px;
}

.filter-main > .affix-top,
.filter-main > .affix,
.filter-main > .affix-bottom{
width:151.667px;
}

.filter-main > .affix{
position:fixed !important;
top:120px;
}

.filter-main > .affix-bottom{
position:absolute;
top: auto !important;
bottom:556px;
}

/*
.filter-place,
form#filters > .row {
padding:0 !important;
}
*/

form#filters > .row{
margin-bottom:14px;
}

.multichoise > label{
display:block;
font-weight:normal;
}

.product-actions > button{
border-radius: 0 4px 4px 0;
border-color:#adadad;
padding-bottom:7px;
color:white;
}

.product-actions + div{
margin-top:30px;
}

.shop-actions{
display:block;
margin:0 auto 0 auto;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
padding-top:10px;
}

.product-actions > *,
.shop-actions > * {
display:inline-block;
vertical-align:top;
height:30px;
margin:0;
text-align:center !important;
}
.product-actions > span,
.shop-actions > span {
width:80px;
border:1px solid #adadad;
border-radius: 4px 0 0 4px;
border-right:none;
padding:7px 0 0 0;
}
.shop-actions > button {
width:80px;
border-radius:0;
padding:5px 0 10px 0;
background-color: #76c1e4;
color:white;
}

.shop-actions > button:hover {
background-color: white;
color: #76c1e4;
}

.shop-actions > a {
width:95px;
border-radius: 0 4px 4px 0;
border-left:none;
padding:8px 0 0 0;
}

.recom-item .prod-des > .title{
height:auto !important;
}

.recom-item .prod-des > h5 > a{
color:#888887;
text-decoration:none;
}
.recom-item .prod-des > h5 > a:hover{
color:#76c1e4;
}

.recom-item .prod-des > .title,
.recom-item .prod-des > h5{
}

.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #ababab;
	color: white;
	width: 50px;
	height: 48px;
	line-height: 48px;
	left: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #76c1e4;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.shop-header{
background-image:url('../img/online-shopping_top_var3.jpg');
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
overflow:hidden;
height:353px;
}

.faq-a p{
}

.filter-area-control{
text-transform:uppercase;
width:100%;
}

.all-margin{
margin-top:15px;
}

.filters-name-area > p {
text-transform:uppercase;
margin:0;
}

.filters-name-area > div {
display:block;
margin:5px auto 5px auto;
height:1px;
background-color: #888887;
width:237px;
}

.filters-name-area > a {
color:#76c1e4;
}

input[type=checkbox]{
display:none;
}

.multichoise p,
.multichoise label {
margin:0;
}

.multichoise a,
input[type=checkbox] + span{
color:#888887;
text-decoration:none;
cursor:pointer;
border-bottom: 1px solid rgba(255,255,255,0);
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
}

.multichoise a:hover,
input[type=checkbox]:checked + span:hover,
input[type=checkbox] + span:hover{
color:#76c1e4;
border-bottom-color:#76c1e4;
}

input[type=checkbox]:checked + span{
color:black;
border-bottom-color:black;
}

#id_reset{
color:#888887;
text-transform:uppercase;
}

.shop-banner{
width:100%;
height:354px;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}

.shop-banner-1{
background-image:url('../img/shop/banner2.jpg');}

.shop-banner-2{
background-image:url('../img/shop/banner1.jpg');}

.shop-banner-3{
background-image:url('../img/shop/banner3.jpg');}

.shop-banner-4{
background-image:url('../img/shop/banner4.jpg');
}

.filter-header {
border-bottom: 1px solid #888887;
margin-bottom:2rem;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
}

.panel-shop-banners {
overflow:hidden;
}

.well{
background-color:white;
margin-bottom:5px;
}

.panel-shop-banners > .panel-body {
padding:0;
}
.filters-name-area > h1,
#filter-name{
margin:0;
text-transform: uppercase;
padding-top:3px;
}

.filter-fixed{
position:fixed;
top:120px;
width:970px;
}

.filter-fixed-list{
top:190px;
}

.type-control{
display:block !important;
}

.nowrap{
white-space:nowrap;
}

.consult-title + p{
margin-bottom:30px;
}

#id_name {
margin-top:10px;
}

label[for=id_name]{
padding-top:17px !important;
}

.tag-menu{
margin-top:14px;
margin-bottom:10px;
}

.tag-tile {
/*
-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
*/
}
.tag-tile:hover,
.tag-tile-active{
-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
/*
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
*/
}

.tag-tile > .panel-body {
min-height:205px;
}

.tag-tile p {
margin:0;
}

.tag-tile a{
text-decoration:none;
color:#888887;
}

.tag-tile a:hover{
text-decoration:none;
color:#76c1e4;
}

.tag-menu-item:first-child{
padding-left:15px;
}
.tag-menu-item:last-child{
padding-right:15px;
}

#datetimepicker2 > span{
background-color:#76c1e4;
color:white;
border-color:#76c1e4;
}

#datetimepicker2 > span:hover{
background-color:white;
color:#888887;
border-color:#ccc;
}

.tag-tile .img-holder{
display:block;
height:115px;
width:100%;
background-position: bottom center;
background-size: contain;
background-repeat: no-repeat;
}

.nav-tabs > li{
vertical-align:bottom;
}

#topnav + hr{
}

#topnav > li > a > span,
.nav-tabs > li > a > span{
white-space:nowrap;
}

#topnav{
margin-top:15px;
}

#topnav > li > a{
color:#888887;
border-right:none;
padding-right:0;
}

#topnav > li > a:first-child{
padding-left:0;
}
#topnav > li > a > span{
border-bottom:1px solid white;
}

#topnav > li > a:hover{
background-color:white;
}

/* title-golds 				rgba(205,191,172,1.0)
 * title-blue 				rgba(118,194,228,1.0)
 * title-darkblue 			#3ea3b7 
 * title-black 				#888887
 * title-sea 				#3258a5
 * title-deep-blue 			#0083c2
 * title-pink 				#ce80b4
 * title-diamond			#888887
 * */

/*
#topnav.title-golds > li > a:hover{
background-color:rgba(205,191,172,1.0);
border-color:rgba(205,191,172,1.0);
}
*/

#producttabs > li{
padding-top:15px;
padding-bottom:30px;
}

#producttabs+ div > div{
}

#producttabs > li > a:first-child{
padding-left:0;
}
#producttabs > li > a{
padding-right:0;
}
#producttabs > li > a > span{
margin: 0 auto 0 auto;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
}



#topnav.title-golds > li > a:hover > span,
#producttabs.title-golds > li.active > a > span{
color:rgba(205,191,172,1.0) !important;
border-color:rgba(205,191,172,1.0);
}

/*
#topnav.title-blue > li > a:hover{
background-color:rgba(118,194,228,1.0);
border-color:rgba(118,194,228,1.0);
}
*/

#topnav.title-blue > li > a:hover > span,
#producttabs.title-blue > li.active > a > span{
color:rgba(118,194,228,1.0) !important;
border-color:rgba(118,194,228,1.0);
}

/*
#topnav.title-darkblue > li > a:hover{
background-color:#3ea3b7 ;
border-color:#3ea3b7 ;
}
*/

#topnav.title-darkblue > li > a:hover > span,
#producttabs.title-darkblue > li.active > a > span{
color:#3ea3b7 !important;
border-color:#3ea3b7;
}

/*
#topnav.title-diamond > li > a:hover,
#topnav.title-black > li > a:hover{
background-color:#888887;
border-color:#888887;
}
*/

#topnav.title-diamond > li > a:hover > span,
#topnav.title-black > li > a:hover > span,
#producttabs.title-diamond > li.active > a > span,
#producttabs.title-black > li.active > a > span{
color:black !important;
border-color:black;
}

/*
#topnav.title-sea > li > a:hover{
background-color:#3258a5;
border-color:#3258a5;
}
*/

#topnav.title-sea > li > a:hover > span,
#producttabs.title-sea > li.active > a > span{
color:#3258a5 !important;
border-color:#3258a5;
}

/*
#topnav.title-deep-blue > li > a:hover{
background-color:#0083c2;
border-color:#0083c2;
}
*/

#topnav.title-deep-blue > li > a:hover > span,
#producttabs.title-deep-blue > li.active > a > span{
color:#0083c2 !important;
border-color:#0083c2;
}

/*
#topnav.title-pink > li > a:hover{
background-color:#ce80b4;
border-color:#ce80b4;
}
*/

#topnav.title-pink > li > a:hover > span,
#producttabs.title-pink > li.active > a > span{
color:#ce80b4 !important;
border-color:#ce80b4;
}

#topnav > li > a:focus{
color:#888887;
background-color:white;
}

.utp-icon{
padding:0;
width:100%;
height:85px;
background-position: center center;
background-size: 25%;
background-repeat: no-repeat;
}

.utp-icon,
div.table,
div.cell{
margin:0 !important;
padding:0 !important;}

.utp-area{
margin-top:55px;
padding:0 !important;
height:218px;
}

.utp-area > div{
padding-top:0px !important;
padding-bottom:5px !important;
}

.utp-icon + p{
}

div.table{
display:table;
}


div.cell, div.cell-small{
display:table-cell;
vertical-align:middle;
}

.img-checkout{
height:5rem;
width:5rem;
display:block;
margin:0 auto 1rem auto;
}

div.cell-small{
height:5rem;
}

.q-checkout{
display:block;
position:relative;
color:white;
background-color:#ccc;
height:3rem;
width:3rem;
border-radius:3rem;
line-height:2.9rem;
text-align:center;
font-weight:bold;
}

div.cell{
height:450px;
}

.test-drive-img{
background-image:url(../img/test_drive.jpg);
background-position: left center;
background-size: 40%;
background-repeat: no-repeat;
}

.consult-img{
background-image:url(../img/consult.jpg);
background-position: left top;
background-size: 32%;
background-repeat: no-repeat;
}

.faq-img{
background-image:url(../img/faq.jpg);
background-position: right center;
background-size: 40%;
background-repeat: no-repeat;
}

#accordion > .panel{
box-shadow: none;
margin:0;
}

#accordion > .panel > .panel-heading{
border-radius:0;
border-top: 1px solid #888887;
background-color:white;
}

#accordion > .panel:last-child > .panel-heading{
border-bottom: 1px solid #888887;
}

.panel-collapse{
/*
border-bottom: 1px solid #888887;
*/
}

a[data-toggle=collapse]{
color:#888887;
}

a[data-toggle=collapse]:hover{
color:#76c1e4;
text-decoration:none;
}

div.formal{
width:172px;
}

div.formal > ul{
width:172px; 
height:40px;
list-style-type:none;
padding:0;
}

.formal > ul > li{
display:inline-block;
position:relative;
margin:0;
}

.formal > ul > li > * {
margin:0;
}

.formal > ul > li:first-child > p{
width:80px;
}

.formal > ul > li:last-child > p{
width:80px;
text-align:right;
}

.formal > ul > li > *{
}

div.soc-icons{
padding:0 !important;
}

div.soc-icons > ul {
margin: 0 auto 0 auto;
width: -moz-fit-content;
width: -webkit-fit-content;
width: fit-content;
}

.lgnp-blue{
color: rgba(118,194,228,1.0);
}

img.media-object{
height:3rem;
width:3rem;
}


.btn-order-fin > i {
font-size: 1.6rem;
margin-top:0.7rem;
}

.payment > i {
font-size:2rem;
}

#insta{
	display:flex;
}
